<% include include/main-header %>
<style>
.p {
text-align: justify;
}
.para-hding {
    margin: 60px 0 10px 0;
}
.para-hding {
    margin: 60px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
   	<div class="wrapper">
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    		<!-- Sidebar Ends Here-->
    		
    	<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>403</h1>
      			<ol class="breadcrumb">
        			<% include include/dashboard-breadcrumb %>
        			<li class="active">403</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
 					<div class="panel-body no-padding-top bg-white">
       					<div class="col-md-5">
							<h3 style="font-size: 12.5em; margin-top:0px; text-align: center; background-color: brown; border-radius: 4px; color: #fff; border: 5px solid darkred; ">403!</h3>
        				</div>
        				<div class="col-md-7">
							<p class="para-hding ">The page you were looking for is forbidden.</p>
       	   					<p>It appears that you've lost your way either through an outdated link or a typo on the page you were trying to reach.</p>
            			</div>
            		</div>
      			</div>
    		</section>
    		<!--//body content--> 
  		</div>
  		

<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->
<!--//Main Content--> 
	</div>
<!-- Page-Level Plugin Scripts-->

</body>
</html>