<div class="modal fade" id="globalPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span></button>
                	<h3 class="modal-title" id="globalMessage">Default Modal</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
</div>
</div>
<footer class="main-footer">
	<strong>Copyright &copy; 2016-2017 <a href="http://www.jobshout.com" target="_blank">Jobshout</a>.</strong> All rights reserved.
</footer>
<!-- jQuery 2.2.3 -->

<% include scripts-footer %>
<script src="scripts/custom.js"></script>
<script>
var backendDirectory="<%= backendDirectory %>";
<% if (typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null) {	%>
var	access_right="<%= authenticatedUser.access_right %>";
<% }	else{	 %>
var access_right=0;
<% } %>
</script>